.text-custom-shadow {
  text-shadow: 1px 2px 1px #CFE7FA;
}
.textColor{
  color:#CFE7FA
}
.bgcard{
  background-color: #FFFFFF;
}
.boxShadow{
  box-shadow: 1px 1px 1px #CFE7FA;
}
.boxshadowgray{
  box-shadow: 2px 2px 1px gray;
}
.hovering:hover{
  transform:  scale(1.1);
  color: #FFFFFF;
}
.font-times {
  font-family:'Times New Roman', Times, serif
}

.rotating-logo {
  animation: rotateAnimation 2s linear 1; 
}

@keyframes rotateAnimation {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}


.scalingtext {
  animation: scaleAnimation 2s linear 1; 
  transition: 1s;
}

@keyframes scaleAnimation {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

.homenav{
  top: 1rem;
  right:1.8rem;
}