.text-custom-shadow {
  text-shadow: 1px 2px 1px #CFE7FA;
}
.textColor{
  color:#CFE7FA
}
.bgcard{
  background-color: #FFFFFF;
}
.boxShadow{
  box-shadow: 1px 1px 1px #CFE7FA;
}
.boxshadowgray{
  box-shadow: 2px 2px 1px gray;
}